<div
  class="sidebar-panel"
  [ngClass]="classes"
  [cdkTrapFocus]="isPanelVisible"
  [cdkTrapFocusAutoCapture]="isPanelVisible"
  (escapeKey)="close()"
>
  <div
    class="sidebar-panel__slider {{ position }} size-{{ size }}"
    [class.sidebar-slide-in]="isPanelVisible"
  >
    <div class="sidebar-panel__header">
      <h1 [innerHTML]="title"></h1>
      <button
        #closeButton
        class="sidebar-panel__close"
        [title]="'common.close' | translate"
        [attr.aria-label]="'common.close' | translate"
        (click)="close()"
        (keydown.enter)="close()"
        autofocus
      >
        <pes-icon
          class="close-icon"
          tabindex="0"
          iconName="close-fill"
          iconSize="m"
        ></pes-icon>
      </button>
    </div>
    <pes-spinner [isTotalHeight]="true" *ngIf="loadingSidebar"></pes-spinner>
    <div class="sidebar-panel__content" [hidden]="loadingSidebar">
      <ng-container #content></ng-container>
    </div>
  </div>
  <div
    class="sidebar-panel__overlay"
    *ngIf="isPanelVisible"
    [@fadeInOut]
    (click)="close()"
  ></div>
</div>
