<div class="login-container">
        <div class="login-form">
            <img src="../../../../assets/images/Visa_Logo.png" alt="Logo" class="login-form-logo">
            <!-- el app-login-form puedo inyectarlo ahi porque he anyadido el selector [app-login-form] en el componente -->
            <div class="login-form-content" app-login-form>

                
            </div>
            <div class="login-form-footer">
                    <div class="login-form-footer_links">
                        <a>Acerca de</a>
                        <a>Contactanos</a>
                        <a>Blog</a>
                    </div>
                    <div class="login-form-footer_socials">
                        <i class="fab fa-facebook-square login-form-footer_socials_social"></i>
                        <i class="fab fa-twitter-square login-form-footer_socials_social"></i>
                        <i class="fab fa-instagram-square login-form-footer_socials_social"></i>
                    </div>
            </div>
        </div>
    </div>
