<!-- <div class="row"> 
    <div class="col-12">
        <app-title-h1 type="danger" text="LISTA DE USUARIOS"></app-title-h1>
    </div>
        <app-card-user [data]="user" *ngFor="let user of users;" class="col-12 col-md-6
        col-xl-3"></app-card-user> 
</div> -->
<!--<div class="container-fluid px-0">
    <div class="row bg-dark h-100">
        <div class="col-12 px-0">
            <app-carousel [isFullScreen]="false" [items]="carouselData"></app-carousel>
        </div>
    </div>
</div>-->

<div class="container-fluid px-0">
    <div class="row bg-dark h-100">
        <div class="col-12 px-0">
            <app-micarousel [items]="miCarouselData"></app-micarousel>
        </div>
    </div>
</div>


<!-- <ng-container *ngIf="users; else elseUsersLoader"> 
    <div class="row">
        <app-card-user [data]="user" *ngFor="let user of users;" class="col-12 col-md-6
            col-xl-3"></app-card-user>
    </div>
</ng-container>-->


<div class="row">
    <div class="col-12">
        <app-title-h1 type="danger" text="LISTA DE USUARIOS"></app-title-h1>
    </div>
    <ng-container *ngIf="users; else elseUsersLoader"> 
            <app-card-user [data]="user" *ngFor="let user of users;" class="col-12 col-md-6 col-xl-3"></app-card-user>
    </ng-container>
    <!-- el ng template solo aparece en cas ode no cumplirse la condicion del container -->
    <ng-template #elseUsersLoader>
            <app-card-loader *ngFor="let item of[0,0,0,0,0,0,0]" class="col-12 col-md-6 col-xl-3" [bars]="4"></app-card-loader>
    </ng-template>
</div>

<p>Custom Pipe: {{user.name | greeting: user.gender : user.role}}</p>
<!-- <app-card-loader class="col-12 col-md-6 col-xl-3" [bars]="4" *ngFor="let item of[0,0,0,0,0,0,0]"></app-card-loader> + -->