<p>card-visa works!</p>

<div class="card-visa">
    <div class="card-visa_left">
        <div class="content-left">
            <div class="header">
                <p>Order Summary</p>
            </div>
            <div class="body">
                <div class="item">
                    <div class="_img">
                        <img src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dwe461059c/original/110382/110382-444-l-glycerin-20-mens-neutral-cushion-running-shoe.png?sw=1388&sh=868&sm=cut"
                            alt="">
                    </div>
                    <div class="text">
                        <p class="nombre">Nike</p>
                        <p class="descripcion">Free Run 3.0 Women</p>
                        <p class="specs">Color: Grey/Orange,Size 10.5</p>
                    </div>
                </div>
                <div class="item">
                    <div class="_img">
                        <img src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dwe461059c/original/110382/110382-444-l-glycerin-20-mens-neutral-cushion-running-shoe.png?sw=1388&sh=868&sm=cut"
                            alt="">
                    </div>
                    <div class="text">
                        <p class="nombre">Nike</p>
                        <p class="descripcion">Free Run 3.0 Women</p>
                        <p class="specs">Color: Grey/Orange,Size 10.5</p>
                    </div>
                </div>
                <div class="item">
                    <div class="_img">
                        <img src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dwe461059c/original/110382/110382-444-l-glycerin-20-mens-neutral-cushion-running-shoe.png?sw=1388&sh=868&sm=cut"
                            alt="">
                    </div>
                    <div class="text">
                        <p class="nombre">Nike</p>
                        <p class="descripcion">Free Run 3.0 Women</p>
                        <p class="specs">Color: Grey/Orange,Size 10.5</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <p class="impuesto">VAT 19%</p>
                    <p class="envio">Delivery</p>
                    <p class="importe">TOTAL</p>
                </div>
                <div class="foot-derecha">
                    <p class="impuesto">$68.75</p>
                    <p class="envio">$4.95</p>
                    <p class="importe">$435.55</p>
                </div>

            </div>
        </div>
    </div>
    <div class="card-visa_right">
        <div class="content-right">
            <div class="right-header">
                <p>Please select your card:</p>

                <select name="" id="">
                    <option value="opcion1">Visa</option>
                    <option value="opcion2">Master Card</option>
                </select>
            </div>

            <div class="right-body">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png" alt="">

                <div class="inputs">
                    <div class="mi-input">
                        <label for="cardNumber">Card Number</label>
                        <br>
                        <input id="cardNumber" type="text">
                    </div>
                    <div class="mi-input">
                        <label for="cardHolder">Card Holder</label>
                        <br>
                        <input id="cardHolder" type="text">
                    </div>
                    <div class="par-inputs">
                        <div class="input-interior">
                            <label for="expires">Expires</label>
                            <br>
                            <input id="expires" type="text">
                        </div>
                        <div class="input-interior">
                            <label for="CVC">CVC</label>
                            <br>
                            <input id="CVC" type="text">
                        </div>
                    </div>

                </div>
                <div class="div-button">
                    <button>Checkout</button>
                </div>
               
            </div>

        </div>
    </div>
</div>